flows (1).json
[{"id":"243df14b.e169ce","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"e06984a0.045a38","type":"mqtt in","z":"243df14b.e169ce","name":"","topic":"mcs/DrNJKeae/wbmbEJbzTZnCqyCa/+","qos":"2","datatype":"auto","broker":"5d58d8c9.5fa068","x":220,"y":220,"wires":[["1bcdf452.191bac"]]},{"id":"1bcdf452.191bac","type":"csv","z":"243df14b.e169ce","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","x":240,"y":380,"wires":[["f081cd62.09905"]]},{"id":"f081cd62.09905","type":"change","z":"243df14b.e169ce","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":520,"wires":[["7042a63f.b3e6d8"]]},{"id":"7042a63f.b3e6d8","type":"ui_gauge","z":"243df14b.e169ce","name":"","group":"49d5cff.a60f43","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":540,"wires":[]},{"id":"5d58d8c9.5fa068","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49d5cff.a60f43","type":"ui_group","z":"","name":"Status","tab":"c832f25a.b62f3","order":1,"disp":true,"width":"6","collapse":false},{"id":"c832f25a.b62f3","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]