flows.json
[{"id":"1a00359b.c70d7a","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"dea2b10d.cb38f","type":"inject","z":"1a00359b.c70d7a","name":"","topic":"","payload":",,25.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":180,"wires":[["fa5ecf3.302fb3"]]},{"id":"8f090191.0343f","type":"inject","z":"1a00359b.c70d7a","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":260,"wires":[["fa5ecf3.302fb3"]]},{"id":"fa5ecf3.302fb3","type":"mqtt out","z":"1a00359b.c70d7a","name":"","topic":"mcs/DrNJKeae/wbmbEJbzTZnCqyCa/Temperature","qos":"2","retain":"","broker":"5dd8c7.3e59c738","x":490,"y":220,"wires":[]},{"id":"5dd8c7.3e59c738","type":"mqtt-broker","z":"","name":"mcs cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]